body {
    background-color: orangered;
    margin: 50px;
}

.container {
    background-color: white;
    padding: 10px;
    margin: 50px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

h2 {
    color: #ffffff;
}